ex03 complex types/book2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:token"/>
			</xs:sequence>
			<xs:attribute name="added_at" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
